{% extends 'layout.html' %}

{% block body %}
<div>
    <h1>Welcome to my Website</h1>
    <p class="lead">
        The purpose of this site is to share the current grade statistics in table format of my Master Programme.<br>
        Since my university administration neither provide aggregated grade- nor graduate-statistics for my programme,<br>
        I decided to produce these myself by extracting the available grade statistics as pdf files from their
        <a href="https://www.vwlpamt.uni-bonn.de/pruefungsamt/notenstatistiken">official website</a><br>
        and displaying all the information on this site.
    </p>
</div>
{% endblock %}