{% extends 'layout.html' %}

{% block body %}
    <h1>Bar Plots</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="plots/bar_plots/bachelor">Bachelor</a></li>

        <li class="list-group-item"><a href="plots/bar_plots/master">Master</a></li>
    </ul>
    <h1>Line Plots</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="plots/line_plots/bachelor">Bachelor</a></li>

        <li class="list-group-item"><a href="plots/line_plots/master">Master</a></li>
            <!--<p class="lead">-->
                <!--<img src='/static/images/bachelor/bar_plots/2018_Sommersemester_Bachelor.png' alt="Chart" height="200" width="250">-->
            <!--</p>-->
    </ul>
{% endblock %}